<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>home</title>
  <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css'>
<link rel='stylesheet' href='https://unpkg.com/bootswatch@3.3.7/yeti/bootstrap.min.css'>
<link rel='stylesheet' href='https://cdn.rawgit.com/odra/ng-json-explorer/master/dist/angular-json-explorer.min.css'>
<link rel='stylesheet' href='https://unpkg.com/ng-formio-builder@latest/dist/ngFormBuilder-complete.css'><link rel="stylesheet" href="../static/style.css">
<link rel="stylesheet" href="../static/style.css">
</head>
<body>
<!-- partial:index.partial.html -->

<div class="page-content" ng-app="formioApp">
  <div class="container-fluid">
    <div>
      <div class="row">
        <div class="col-sm-8">
          <h3 class="text-center text-muted">The <a href="#" target="_blank">Form Builder</a> allows you to build a <select class="form-control form-type-select" ng-model="form.display" ng-options="display.name as display.title for display in displays"></select></h3>
          <pre class="text-center bg-info"><h4><code>&lt;form-builder form="form"&gt;&lt;/form-builder&gt;</code></h4></pre>
          <div class="well" style="background-color: #fdfdfd;">
            <form-builder form="form"></form-builder>
          </div>
        </div>
        <div class="col-sm-4">
          <h3 class="text-center text-muted">as JSON Schema</h3>
          <pre class="bg-info"><h4><code>$rootScope.form = </code></h4></pre>
          <div class="well jsonviewer">
            <json-explorer data="form" collapsed="jsonCollapsed"></json-explorer>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- partial -->
  <script src='https://cdn.ckeditor.com/4.5.11/standard/ckeditor.js'></script>
<script src='https://unpkg.com/signature_pad@1.5.3/signature_pad.min.js'></script>
<script src='https://unpkg.com/ng-formio-builder@latest/dist/ngFormBuilder-full.js'></script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/lodash.js/4.17.4/lodash.min.js'></script>
<script src='https://cdn.rawgit.com/odra/ng-json-explorer/master/dist/angular-json-explorer.min.js'></script><script  src="../static/script.js"></script>
<script src="../static/script.js"></script>
</body>
</html>
